<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DataSourceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="DataSourceBehavior" name="SampleWCFStandaloneService.DataSourceService">
                <endpoint address="http://localhost:9005" binding="basicHttpBinding"
                    bindingConfiguration="" name="DataSourceEndpoint" contract="SampleWCFStandaloneService.IDataSourceService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9005" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>